<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          rel="stylesheet"/>
    <script defer th:src="@{../js/bookItem.js}" type="module"></script>

    <title>Book</title>
</head>
<body>
<div th:replace="headerFragment.html"></div>

<div class="container">
    <div class="books">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="card-img" th:src="${book.picture_link}" width="20px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${book.title}"></h5>
                        <h5 class="card-text">By: <span th:text="${book.author}"></span></h5>
                        <h5 class="price card-text">Price: $<span th:text="${book.price}"></span></h5>
                        <h5 class="card-text">Category: <span th:text="${book.category}"></span></h5>
                        <button class="btn btn-primary" id="addToCart"
                                th:attr="data-bookid=${book.bid}"
                                th:text="'Add to Cart'"></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br></br>
    <hr></hr>
    <FIELDSET>
        <legend>Reviews</legend>
        <form id="submitReview" th:attr="data-bookid=${book.bid}">
                <textarea class="form-control" cols="50" id="reviewarea" placeholder="Enter Review"
                          rows="4"></textarea>
            <div class="input-group mb-3">
                <input class="form-control" id="ratingarea" placeholder="Enter Rating"></input>
                <button class="btn bg-success float-right" id="submitReviewBtn" type="button"> Submit</button>
            </div>
        </form>
        <h4>Previous Reviews Section</h4>
        <div id="pagination">
            <p>Total Pages: <span th:text="${totalPages}"></span> Total reviews: <span th:text="${totalReviews}"></span>
            </p>
            <div class="card" th:each="review : ${reviews}">
                <div class="container">
                    <p>Review: <span th:text="${review.review}"></span></p>
                    <p>Rating: <span th:text="${review.rating}"></span> &#9733;</p>
                </div>
            </div>
            <!-- Pagination Buttons -->
            <div class="d-flex justify-content-between mt-3">
                <!-- Left Arrow Button -->
                <a aria-label="Previous" class="btn bg-primary text-white" href="#" id="prevBtn">
                    <span class="bi bi-arrow-left"></span> Previous
                </a>

                <!-- Right Arrow Button -->
                <a aria-label="Next" class="btn bg-primary text-white" href="#" id="nextBtn"
                   th:attr="data-last-page=${totalPages}">
                    Next <span class="bi bi-arrow-right"></span>
                </a>
            </div>
        </div>

    </FIELDSET>
</div>
</body>
</html>